---
layout: default
---

<div class="header">

  <h1>{{ site.name }}</h1>
  <ul>
    {% for item in site.data.navigation %}
    <li>
      <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
    </li>
    {% endfor %}
  </ul>


</div>
<img src="images/profile-pic.jpg"
  style="float: right;background-image: url('ImageLocation');background-size: cover; height:150px; padding-top:0px;height:140px; border-radius: 50%; border: 1px solid #000000;"
  alt="Picture of Sabee">
<div class="portfolio">
  <!-- <h1> -->
  <!-- <a href="#" id="1_arrows" class="arrows" onclick="expand_collapse('1');">&#9650</a> -->
  <!-- About -->
  <!-- </h1> -->
  <!-- <div class="image" -->

  <!-- </div> -->
  <div id="1" style="display:block;">
    <p>
      <!-- <ul> -->
      <!-- <li> -->
      I'm a PhD student in Computer Science at UT Austin,
      where I'm advised by <a href="https://scottaaronson.com/" target="_blank">Scott Aaronson</a>.
      I'm affiliated with UT's <a href="https://www.cs.utexas.edu/act" target="_blank">Theory Group</a> and <a
        href="https://www.cs.utexas.edu/~qic/">Quantum Information Center</a>.
      <!-- For more on my background, see my <a href="/cv.pdf" target="_blank">CV</a>. -->
      <!-- </li> -->
      <!-- </ul> -->
    </p>
    <br>
    <p>Links: &nbsp; <a href="/cv.pdf" target="_blank">CV</a> &nbsp; <a
        href="https://scholar.google.com/citations?user=Ses4tNAAAAAJ&hl=en" target="_blank">Google
        Scholar</a></p>
    <!-- <p>Previously I was an engineer at Microsoft, working mostly on <a -->
    <!-- href="https://github.com/Azure/azure-event-hubs-spark/graphs/contributors" targe="_blank"> -->
    <!-- connecting Azure Event Hubs with Apache Spark</a>.</p> -->
  </div>


</div>
<div class="blog">
  <h1>
    <a href="#" id="3_arrows" class="arrows" onclick="expand_collapse('3');">&#9650</a>
    Publications
  </h1>
  <div id="3" style="display:block;">
    <p>
    <ol reversed style="PADDING-LEFT: 34px">

       <li>
        <h2>PDQMA = DQMA = NEXP: QMA With Hidden Variables and Non-collapsing Measurements</h2>
        <a href="https://www.scottaaronson.com//" target="_blank">Scott Aaronson</a>, Sabee Grewal, <a href="https://vishnuiyer.org/" target="_blank">Vishnu Iyer</a>, Simon Marshall, <a href="https://https://www.cs.utexas.edu/~ronakr" target="_blank">Ronak Ramachandran</a><br>
        <a href="https://arxiv.org/abs/2403.02543" target="_blank">[arXiv]</a> 
      </li>
      
       <li>
        <h2>The Entangled Quantum Polynomial Hierarchy Collapses</h2>
        Sabee Grewal, <a href="https://www.justinyirka.com//" target="_blank">Justin Yirka</a><br>
        <a href="https://arxiv.org/abs/2401.01453" target="_blank">[arXiv]</a> <a 
          href="https://eccc.weizmann.ac.il/report/2024/006/" target="_blank">[ECCC]</a>
      </li>
      
      <li>
        <h2>Efficient Learning of Quantum States Prepared With Few Non-Clifford Gates</h2>
        Sabee Grewal, <a href="https://vishnuiyer.org/" target="_blank">Vishnu Iyer</a>, <a
          href="https://www.cs.utexas.edu/~kretsch/" target="_blank">William Kretschmer</a>,
        <a href="https://daniel-you-liang.github.io/" target="_blank">Daniel Liang</a><br>
        Presented at the 27th Annual Conference on Quantum Information Processing (QIP 2024) <br>
        <a href="https://arxiv.org/abs/2305.13409" target="_blank">[arXiv I]</a> <a href="https://arxiv.org/abs/2308.07175" target="_blank">[arXiv II]</a>
      </li>
      
      <li>
        <h2>Improved Stabilizer Estimation via Bell Difference Sampling</h2>
        Sabee Grewal, <a href="https://vishnuiyer.org/" target="_blank">Vishnu Iyer</a>, <a
          href="https://www.cs.utexas.edu/~kretsch/" target="_blank">William Kretschmer</a>,
        <a href="https://daniel-you-liang.github.io/" target="_blank">Daniel Liang</a><br>
        Presented at the 27th Annual Conference on Quantum Information Processing (QIP 2024) <br>
        To appear in STOC 2024 <br>
        <a href="https://arxiv.org/abs/2304.13915" target="_blank">[arXiv]</a>
      </li>

      <li>
        <h2>Efficient Tomography of Non-Interacting Fermion States</h2>
        <a href="https://scottaaronson.com/" target="_blank">Scott Aaronson</a>, Sabee Grewal<br>
        <i>18th Conference on the Theory of Quantum Computation, Communication and Cryptography (TQC 2023)</i>, Leibniz International
        Proceedings in Informatics (LIPIcs) 266, pp. 12:1--12:18 (2023) <br>
        <a href="https://arxiv.org/abs/2102.10458" target="_blank">[arXiv]</a> <a
          href="https://drops.dagstuhl.de/opus/volltexte/2023/18322/" target="_blank">[TQC 2023]</a>
      </li>

      <li>
        <h2>Low-Stabilizer-Complexity Quantum States Are Not Pseudorandom</h2>
        Sabee Grewal, <a href="https://vishnuiyer.org/" target="_blank">Vishnu Iyer</a>, <a
          href="https://www.cs.utexas.edu/~kretsch/" target="_blank">William Kretschmer</a>,
        <a href="https://daniel-you-liang.github.io/" target="_blank">Daniel Liang</a><br>
        <i>14th Innovations in Theoretical Computer Science Conference (ITCS 2023)</i>, Leibniz International
        Proceedings in Informatics (LIPIcs) 251, pp. 64:1–64:20 (2023)<br>
        <b>ITCS 2023 Best Student Paper Award</b> &#x1F3C6;<br>
        <a href="https://arxiv.org/abs/2209.14530" target="_blank">[arXiv]</a> <a
          href="https://drops.dagstuhl.de/opus/volltexte/2023/17567/" target="_blank">[ITCS 2023]</a>
      </li>

      <li>
        <h2>Classical Shadows With Noise</h2>
        Dax Enshan Koh, Sabee Grewal<br>
        <i>Quantum</i> 6, 776 (2022)<br>
        <a href="https://arxiv.org/abs/2011.11580" target="_blank">[arXiv]</a> <a
          href="https://quantum-journal.org/papers/q-2022-08-16-776/" target="_blank">[Journal]</a>
      </li>
    </ol>
    </p>
  </div>
</div>
<div class="blog">
  <h1>
    <a href="#" id="2_arrows" class="arrows" onclick="expand_collapse('2');">&#9660</a>
    Contact
  </h1>
  <div id="2" style="display:none;">
    <script src="../assets/js/clipboard.min.js">new Clipboard('#hey');</script>
    <script>new Clipboard('#hey');</script>

    <p>You can contact me at
      <input id="foo" value="grewalsabee@gmail.com" readonly size="21">
      <button class="btn" id="hey" data-clipboard-target="#foo">
        <img src="../assets/img/clippy.svg" alt="Copy to clipboard">
      </button>
    </p>
  </div>
</div>

<!-- <div class="blog">
    <h1>
      <a href="#" id="2_arrows" class="arrows" onclick="expand_collapse('2');">&#9660</a> -->
<!-- Projects:
    </h1>
    <div id="2" style="display:none;">
      <ul>
          {% for projects in site.data.projects %}
          <li>
          <span><h2>{{ projects.name}}</h2><span>
                  <ul><li><span><h4>{{ projects.description1}}</h4><span></li></ul>
                  <ul><li><span><h4>{{ projects.description2}}</h4><span></li></ul>
          </li>
          {% endfor %}
      </ul>
    </div>
</div>
<div class="blog">
    <h1>
      <a href="#" id="3_arrows" class="arrows" onclick="expand_collapse('3');">&#9660</a>
      Work Experience:</h1>
    <div id="3" style="display:none;">
      <ul>
          {% for work in site.data.work %}
          <li><h2>{{ work.title }} | {{ work.time}}<img src="{{ work.image}}" style="float:right;margin-bottom:57px;margin-left:9px;"></img></h2></li>
          <li><h3>{{ work.company }}</h3></li>
          <ul><li><span><h4>{{ work.description1 }} </h4></span></li></ul>
          <ul><li><span><h4>{{ work.description2 }} </h4></span></li></ul>
          {% endfor %}
      </ul>
    </div>
</div>
<div class="blog">
    <h1>
      <a href="#" id="4_arrows" class="arrows" onclick="expand_collapse('4');">&#9660</a>
      Research Experience:</h1>
    <div id="3" style="display:none;">
      <ul>
          {% for work in site.data.research %}
          <li><h2>{{ research.title }} | {{ research.time}}<img src="{{ research.image}}" style="float:right;margin-bottom:57px;margin-left:9px;"></img></h2></li>
          <li><h3>{{ research.company }}</h3></li>
          <ul><li><span><h4>{{ research.description1 }} </h4></span></li></ul>
          <ul><li><span><h4>{{ research.description2 }} </h4></span></li></ul>
          {% endfor %}
      </ul>
    </div>
</div>
<div class="blog">
    <h1><a href="#" id="5_arrows" class="arrows" onclick="expand_collapse('5');">&#9660</a>
    Teaching:</h1>
    <div style="width:100%;height:5px;"></div>
    <div id="4" style="display:none;">
    <ul><li>I have worked as a teaching assistant for <b>one graduate course</b> and <b>two undergraduate courses</b>. I've also received <b>two Teaching Awards</b> from the Cockrell School of Engineering.</li></ul>
    <ul>
        <li>
        <table>
        <tr>
            <th>Course</th>
            <th>Professor</th>
            <th>Semester</th>
            <th>Survey</th>
        </tr>
        {% for teach in site.data.teach %}
        <tr>
            <td><a href="{{ teach.site }}" target="_blank">{{ teach.course }}</a></td>
            <td>{{ teach.professor}}</td>
            <td>{{ teach.semester }}</td>
            <td>{{ teach.survey}}</td>
        </tr>
        {% endfor %}
        </table>
        </li>
    </ul>
    </div> -->
<!-- </div> -->
<script src="/assets/js/main.js"></script>
